---
layout: default
---
<!-- custom.css - the styling for this template -->
<link rel="stylesheet" href="{{ site.baseurl }}public/css/about.css">
<link rel="stylesheet" href="http://themegrids.com/themes/brax/theme/full-screen-image/font-awesome-4.7.0/css/font-awesome.min.css">
<!-- ABOUT -->
    <!-- ABOUT -->
    <section id="about">
            <div class="row" style="display:table-row;">
                <div id="picture" style="display:inline-block;float:left; width: 25%; ">
                    <div class="photo-wrap" style="display:inline-block;float:left;  width: 90% ">
                        <img src="{{ site.baseurl }}public/photo.jpg" >

                        <div style="display: table; margin: 0 auto;">
                            <a href="https://www.facebook.com/profile.php?id=100000032170714&ref=bookmarks" class="url_icon"><img src="{{ site.baseurl }}public/facebook.png"></a>
                            <a href="https://plus.google.com/104389400775964917872" class="url_icon"><img src="{{ site.baseurl }}public/google.png"></a>
                            <a href="https://www.instagram.com/golden_squidball/?hl=zh-tw" class="url_icon"><img src="{{ site.baseurl }}public/instagram.png"></a>
                            <a href="https://www.linkedin.com/in/%E8%82%87%E5%AE%8F-%E9%A1%8F-a3911b126/" class="url_icon"><img src="{{ site.baseurl }}public/linkedin.png"></a>
                        </div>
                    </div>

                    
                       

                    
                </div>

                <p class="style"></p>
                <div id="content"  style="display:inline-block;float:left; width: 70%">
                    <h2>ABOUT ME</h2>
                    <h3>Hello! I am Aslan</h3>
                    <div>
                        <p>
                            I'm an engineer. I graduated from National Sun Yat-sen University in 2017 and my major was Computer Science and Engineering. I have learned java since 2014, in school after java I started to learn Android in leisure time. I has taken some cases with my parnter in these years. Include Android App, website with html,css,php and javascript, also Line bot app with nodejs. Now I'm working with Android. Furthermore, in order to write my own website and store some code , these days I started writing html, css, php, javascript in interest.
                        </p>

                        <p>
                           My interest include games like Minecraft, LoL, withchers... . I also participated in diving, canoeing and sailing in my school time. I like water, so I went rafting this year. I also look forward to canoeing on the sea next year.
                        </p>
                    </div>
                </div>
                <script type="text/javascript">
                    
                </script>
            </div>
    </section>
    <!-- ABOUT END -->

    <!-- EXPERIENCE -->
    <section id="experience">
            <div>
                <h2 style="text-transform: capitalize ">My Experience</h2>
            </div>
        <div class="container">
            
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Android Developer</h3>
                    <span class="timeline-content">2017-2018</span>

                    <p class="timeline-content">Join Kingwaytek as an Android Developer.</p>
                </div>
            </div>
            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Intern Engineer</h3>
                    <span class="timeline-content">2015-2016</span>
                    <p class="timeline-content">start learning java and android by interest. And started taking cases. Also join a start-up company to develope Android App. </p>
                </div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Student</h3>
                    <span class="timeline-content">2012-2016</span>
                        
                    <p class="timeline-content"> Department of Computer Science and Engineering National Sun Yat-sen University.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- EXPERIENCE END -->


