---
layout: default
---
<!-- custom.css - the styling for this template -->
<link rel="stylesheet" href="{{ site.baseurl }}public/css/about.css">
<link rel="stylesheet" href="http://themegrids.com/themes/brax/theme/full-screen-image/font-awesome-4.7.0/css/font-awesome.min.css">
<!-- ABOUT -->
    <!-- ABOUT -->
    <section id="about">
            <div class="row">
                <div class="col-lg-6 col-12" style="display:inline-block;float:left; width: 30%;">
                    <div class="photo-wrap" style="display:inline-block;float:left;  width: 80%">
                        <img src="{{ site.baseurl }}public/photo.jpg">
                    </div>
                    <p class="style"></p>
                </div>

               
                <div id="aboutRight"  style="display:inline-block;float:left; width: 70%">
                    <h2>ABOUT ME</h2>
                    <h3>Hello! I am Aslan</h3>

                    
                    
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices, nulla et
                            egestas venenatis, urna ante tincidunt erat, vitae lacinia ante urna dignissim purus. Class
                            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam
                            diam purus, facilisis eu placerat vel, egestas vel massa. Phasellus pharetra urna at sem
                            convallis bibendum. Fusce sed leo quis purus luctus tempus. Ut ornare mattis justo.
                        </p>

                        <p>
                            Pellentesque lectus libero, lobortis sed quam in, congue elementum tellus. Vestibulum dui
                            enim, aliquet in tellus id, luctus tristique velit. Mauris augue sapien, condimentum sed
                            ligula sit amet, facilisis aliquet nulla. Donec sed congue tellus, quis efficitur nisl.
                            Maecenas at sapien orci. Donec dapibus pellentesque orci, nec egestas sapien ultricies eu.
                            Morbi eu sem commodo, pellentesque massa quis.
                        </p>
                    </div>
                </div>
            </div>
    </section>


    <!-- ABOUT END -->

    <!-- EXPERIENCE -->
    <section id="experience">
        <div class="section-header">
            <div>
                <h2>My Experience</h2>
            </div>
        </div>
        <div class="container">
            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Web Designer</h3>
                    <span>2015 - 2018</span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate.</p>
                </div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Web Developer</h3>
                    <span>2010 - 2015</span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate.</p>
                </div>
            </div>
            <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Programmer</h3>
                    <span>2002 - 2010</span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate.</p>
                </div>
            </div>
            <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                    <h3>Graphics Designer</h3>
                    <span>2000 - 2002</span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- EXPERIENCE END -->


