---
layout: default
---
{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.category | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/boot.css">
<p>
<p class="btn btn-outline-secondary"  id="all" onclick="displayData('all')">All</p>
<script>
    
</script>
{% for tag in tags %}
    <!--
    <table border="0">
    <tr>
        <td width="30px" style="border: 1px solid #00000; text-align: bottom;">
            <img src="/public/arrow.png" class="icon" width="64" style="margin: 0 0 0rem;"></td>
        <td style="border: 1px solid #ffffff; ">
            <h2 style="margin: margin-top: rem; margin-bottom: 1rem;" id="{{ tag | slugify }}">{{ tag }}</h2>
        </td>
    </tr>
</table>-->

        <p class="btn btn-outline-secondary"  id="{{ tag }}" onclick="displayData('{{ tag }}')">{{ tag }}</p>
       
{% endfor %}
</p>

 <script>
        function displayData(tag) {
            var json = {{ site.posts | jsonify }};
            var html = "";
            for (i = 0; i < json.length; i++) { 
                if(json[i].categories == tag || tag == 'all') {
                    html += '<div> <a href="{{ site.url }}' + json[i].url + '">' + json[i].title + '</a><p class="category_date">' + formatDate(new Date(json[i].date.substring(0, 19))) + '</p></div>';
                }
            }
            document.getElementById('test').innerHTML = html;
        }

        function formatDate(date) {
            var monthNames = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();

            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }
    </script>

<div id='test'>
</div>

<script>
// self executing function here
(function() {
   displayData("all");
})();
</script>
